#bar{
    animation: shape-color 10s infinite;
}
@keyframes shape-color {
    0%{
        background-size: contain;
        background-image: url("https://img.freepik.com/premium-vector/stock-market-investment-trading-graph-in-graphic-concept-suitable-for-financial-investment_258787-15.jpg");
    }
    50%{
        background-size: contain;
        background-image: url("https://www.hellot.net/data/photos/20231252/art_17039301013143_a3d6ec.jpg");

    }
    100%{
        background-size: contain;
        background-image: url("https://cdn.mindgil.com/news/photo/202007/69560_3844_1353.jpg");
    }
}